<div class="app-item-card">
  <div class="app-item-card__image-container">
    <img class="app-item-card__image" [src]="'assets/images/items/' + item().image" alt="{{ item().title }}" />
    <span class="app-item-card__favorite" (click)="triggerFavorite.emit(item())">
      <i [class]="item().isFavorite ? 'fas fa-heart' : 'far fa-heart'"></i>
    </span>
  </div>
  <hr class="app-item-card__divider" />
  <h2 class="app-item-card__title">{{ item().title }}</h2>
  <p class="app-item-card__description">{{ item().description }}</p>
  <hr class="app-item-card__divider" />
  <p class="app-item-card__price">
    <i class="fas fa-coins"></i> {{ item().price | currency }}
  </p>
  <p class="app-item-card__email">
    <i class="fas fa-envelope"></i>
    <a href="mailto:{{ item().email }}">{{ item().email }}</a>
  </p>
</div>