
  <h2>Item List</h2>

  <div class="item-list__search">
      <label for="search">Buscar items</label>
      <input id="search" type="text" [formControl]="search"  placeholder="Title, description, price or email">
      <button (click)="onClickSearchItems()">Buscar</button>
  </div>

  @for (item of items$ | async; track $index) {
    <app-item-card [item]="item" (triggerFavorite)="onTriggerFavorite($event)"></app-item-card>>
  }

  <!-- <button *ngIf="!isLoading && hasMoreItems" (click)="onScroll()">Load More</button> -->
  @if (loading$ | async) {
    <p>Loading...</p>
  
  }
