@if(isOpen()) {
  <div class="modal" tabindex="-1" role="dialog" aria-labelledby="favoritesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="favoritesModalLabel">Favorites</h5>
          <button type="button" class="close" aria-label="Close" (click)="closeModal.emit()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          @for (item of favorites$ | async; track $index) {
            <img [src]="'assets/images/' + item.image" alt="{{ item.title }}" class="favorite-item-image" />
            <span>{{ item.title }}</span>
            <button (click)="onDeleteFavorites(item)">Remove</button>
          } @empty {
            <div>No favorites added.</div>
          }
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal.emit()">Close</button>
        </div>
      </div>
    </div>
  </div>
}
